NODE_ENV=production
PORT=4000
FRONTEND_URL=http://186.64.123.153

DATABASE_URL=postgresql://boostins:CAMBIAR_PASSWORD_AQUI@localhost:5432/boostins

JWT_SECRET=GENERAR_CON: openssl rand -hex 64
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=GENERAR_CON: openssl rand -hex 64
JWT_REFRESH_EXPIRES_IN=30d

ENCRYPTION_KEY=GENERAR_CON: openssl rand -hex 16

MP_ACCESS_TOKEN=APP_USR-4294173646691405-042208-1cc6c9cadd230cc0dac067fefb9d04ef-305616995
MP_PUBLIC_KEY=APP_USR-7bc085ee-eb4d-46df-9828-d56a3dbdc300

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=TU_EMAIL@gmail.com
SMTP_PASS=TU_APP_PASSWORD
SMTP_FROM="BoostIns <TU_EMAIL@gmail.com>"

DEFAULT_PROVIDER_NAME=SMM Engineer
DEFAULT_PROVIDER_URL=https://smmengineer.com/api/v2
DEFAULT_PROVIDER_KEY=6f83f1a1fb8a7439630e316854ac4714

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
REFERRAL_REWARD_AMOUNT=5.00
